
section#equipo {
}
section#equipo img.big {
	width: 100%;
}

section#equipo .description {
	position: absolute;
	z-index: 2;
	transform: translateY(-100%);
	background-color: rgba(104, 104, 104, 0.71);
	color: #ffffff;
	padding: 30px 60px 20px 60px;
	/* max-width: 1200px; */
	/* left: 10%; */
	width: 100%;
}

section#equipo-slides {
	padding-top: 20px;
	background-color: #ffffff;
}
section#equipo-slides .slick-slide {
	border: 2px solid #ffffff;
}
section#equipo-slides .slick-slide:not(.slick-current) {
	cursor: pointer;
}

/* responsive */
@media screen and (max-width: 992px) {

	section#equipo .description {
		position: relative;
		width: 100%;
		left: 0;
		transform: none;
		padding: 30px 30px 20px 30px;
	}

}

@media (min-width: 1600px) {

	section#equipo .description {
		padding: 45px 90px 35px 90px;
	}

}
