
section#concepto-header {
	background-color: rgba(148, 148, 148, 0.71);
	color: #ffffff;
	padding: 60px 0;
}
section#concepto-images {
	text-align: center;
	background-color: #ffffff;
	padding: 45px 30px;
}
section#concepto-images img {
	/* display: block; */
	margin: 45px 0;
}

/* responsive */
@media (max-width: 992px) {


}

@media (min-width: 1600px) {

	section#concepto-header {
		padding: 110px 0;
	}

}
